<p-card header="Plano" *ngIf="plano" class="card flex justify-content-center">
    <form [formGroup]="formGroup" (ngSubmit)="salvarPlano()">
    <div class="flex align-items-center justify-content-center h-4rem font-bold border-round m-2">
        <span class="p-float-label">
            <input pInputText formControlName="nome" name="nome" [(ngModel)]="plano.nome" required/>
            <label htmlFor="nome">Nome</label>
            <small class="p-error block" *ngIf="formGroup.controls['nome'].invalid && formGroup.controls['nome'].dirty">
                Nome é obrigatório
            </small>
        </span>
    </div>
    <div class="flex align-items-center justify-content-center h-4rem font-bold border-round m-2">
        <span class="p-float-label">
            <p-inputNumber [(ngModel)]="plano.valor" formControlName="valor" inputId="currency-us" 
                mode="currency" currency="USD" locale="en-US"> </p-inputNumber>
            <label for="valor">Valor</label>
            <small class="p-error block" *ngIf="formGroup.controls['valor'].invalid && formGroup.controls['valor'].dirty">
                Valor é obrigatório
            </small>
        </span>
    </div>
    <button pButton type="submit" [disabled]="formGroup.invalid" label="Salvar" class="p-button-primary"></button>
    <button pButton label="Voltar" class="p-button-secondary" (click)="voltar()"></button>
    <p-toast></p-toast>
    </form>
  <div class="flex align-content-center justify-content-center">
    <p-progressSpinner *ngIf="carregando"></p-progressSpinner>
  </div>
</p-card>
    